data/exposures/*.Rdata
data/exposures/*.rds

data/LD/LD_reference/*.bed
data/LD/LD_reference/*.bim
data/LD/LD_reference/*.fam
Longevity.Rproj
.Rproj.user

data/harmonized/*.rds

data/outcomes/*.tsv
data/outcomes/*.GZ
data/outcomes/*.csv

data/MR/*.rds