data/LD/test
data/LD/LD_reference/AFR.bed
data/LD/LD_reference/AFR.bim
data/LD/LD_reference/AFR.fam
data/LD/LD_reference/AMR.bed
data/LD/LD_reference/AMR.bim
data/LD/LD_reference/AMR.fam
data/LD/LD_reference/EUR.bed
data/LD/LD_reference/EUR.bim
data/LD/LD_reference/EUR.fam
data/LD/LD_reference/EAS.bed
data/LD/LD_reference/EAS.bim
data/LD/LD_reference/EAS.fam
data/LD/LD_reference/SAS.bed
data/LD/LD_reference/SAS.bim
data/LD/LD_reference/SAS.fam
data/outcomes/test
data/exposures/exposures_gwas
data/exposures/exposures_genes.rds
data/exposures/error_exp_genes.rds
data/exposures/exposures_metabolites.rds
data/exposures/exposures_proteitns.rds
data/exposures/error_exp_methylation.rds
data/exposures/exposures_methylation.rds
data/outcomes/Pilling_90.csv

